/* style.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}
.container {
  padding: 20px;
}
.card {
  background-color: hsl(0, 0%, 100%);
  padding: 16px;
  border-radius: 16px;

  max-width: 320px;
  text-align: center;
}
.card img {
  width: 100%;
  border-radius: 16px;
}
.card img {
  width: 100%;
  border-radius: 12px;
}
.card h1 {
  font-size: 22px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin: 16px 0;
}

.card p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(216, 15%, 48%);
  margin: 0 12px 16px;
}
.card .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
